= form_for @room, url: (@room.persisted? ? admin_hotel_room_path : admin_hotel_rooms_path), html: { class: 'form-horizontal', role: 'form' } do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, 'Nombre', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, placeholder: 'Nombre', class: 'form-control'
  .form-group
    = f.label :description, 'Descripcion', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :description, placeholder: 'Descripcion', class: 'form-control'
  .form-group
    = f.label :room_type, 'Tipo de habitacion', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :room_type, placeholder: 'Tipo de habitacion', class: 'form-control'
  .form-group
    = f.label :cap, 'Capacidad max.', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :cap, placeholder: 'Capacidad max.', class: 'form-control'
  .form-group
    = f.label :start_time, 'Hora de entrada', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :start_time, placeholder: 'Hora de entrada', class: 'form-control'
  .form-group
    = f.label :end_time, 'Hora de salida', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :end_time, placeholder: 'Hora de salida', class: 'form-control'
  .form-group
    = f.label :services, 'Servicios', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :services, placeholder: 'Servicios', class: 'form-control'
  .form-group
    = f.label :room_view, 'Vista de la Habitacion', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :room_view, placeholder: 'Vista de la habitacion', class: 'form-control'
  .form-group
    = f.label :beds, 'Camas', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :beds, placeholder: 'Camas', class: 'form-control'
  .form-group
    = f.label :price, 'Precio', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :price, placeholder: 'Precio', class: 'form-control'
  .form-group
    = f.label :image, 'Imagen', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :image, class: 'form-control'
  .form-group
    = f.label :remote_image_url, "o el URL de la imagen", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :remote_image_url, placeholder: 'URL de la imagen', class: 'form-control'
  .form-group
    .col-sm-10.col-sm-offset-2
      = f.submit 'Guardar', class: 'btn btn-primary'
