
@font-face {
  font-family: 'Sverige';
  src: asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.eot');
  src: asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.eot?#iefix') format('embedded-opentype'),
       asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.woff2') format('woff2'),
       asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.woff') format('woff'),
       asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.ttf') format('truetype'),
       asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.svg#sverige_script_decorated_deRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html {
  position: relative;
  min-height: 100%;
}

html,
body {
  background-color: white;
  height: 100%;
}
body {
  color: #F91341;
  text-align: center;
}

h1 {
  font-size: 44px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  background-image: image-url('img-inicio.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fef7e7;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Petit Formal Script', cursive;
}

.romantic-font{
  font-family: 'Petit Formal Script', cursive;
}

/* Padding for spacing */
.inner {
  padding: 0 30px;
}

.inner.cover{
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  position: fixed;
  top: 70px;
  left: 40%;
  p {
    font-size: 2.4em;
  }
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #f11b3f; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.masthead-brand {
  float: left;
}
.masthead-nav {
  float: right;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Carousel
 */

.carousel {
  height: 500px;
  margin-bottom: 50px;
  .carousel-inner {
    height: 500px;
  }
  .item {
    height: 500px;
    background-color: #777;
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }
    .carousel-caption {
      z-index: 10;
    }
  }
}

#countdown {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  .countdown-item {
    color: #FF738F;
    margin-right: 10px;
    font-weight: 700;
    .number {
      color: #FF355E;
      font-size: 25px;
      font-weight: 900;
    }
  }
}

/*
 * Footer
 */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  p {
    line-height: 40px;
    margin: 0;
  }
}

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  position: fixed;
  bottom: 0;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  .inner.cover {
    left: 45%;
  }  
}

/* Handle the widths */
.masthead,
.mastfoot,
.cover-container {
  width: 100%; /* Must be percentage or pixels for horizontal alignment */
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
