= form_for @order, url: (@order.persisted? ? admin_order_path(@order) : admin_orders_path), html: { class: 'form-horizontal', role: 'form' } do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :user_id
  .form-group
    = f.label :qty, 'Habitacion', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :room_id, options_for_select(@rooms_available, selected: @order.room_id), {prompt: 'Selecciona una habitacion'}, class: 'form-control'
  .form-group
    = f.label :qty, 'Numero de huespedes', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :qty, placeholder: 'Numero de huespedes', class: 'form-control'
  .form-group
    = f.label :days, 'Dias/Noches', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :days, placeholder: 'Numero de dias', class: 'form-control'
  .form-group
    = f.label :kids, 'Menores?', class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :kids, placeholder: 'Menores', class: 'form-control'
  .form-group
    = f.label :discount, 'Descuento', class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :discount, placeholder: 'Descuento', class: 'form-control'
    .col-sm-6
      = f.radio_button :discount_type, 'percent'
      = f.label :discount_type_percent, 'Porcentaje', class: 'control-label'
      = f.radio_button :discount_type, 'amount'
      = f.label :discount_type_amount, 'Efectivo', class: 'control-label'
  .form-group
    = f.label :paid, 'Abono', class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :paid, placeholder: 'Total pagado', class: 'form-control'
  .form-group
    .col-sm-10.col-sm-offset-2
      = f.submit 'Save', class: 'btn btn-primary'
