= form_for Payment.new, url: pay_admin_order_path(@user ? @user.order : @order), method: :put, html: { id: 'payment_form', class: 'form-horizontal', role: 'form' }, remote: true do |f|
  #payment_error_explanation
  .form-group
    = f.label :amount, 'Monto', class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :amount, placeholder: 'Monto', class: 'form-control'
  .form-group
    = f.label :payment_type, 'Forma de pago', class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :payment_type, placeholder: 'Forma de pago', class: 'form-control'
  .form-group
    .col-sm-8.col-sm-offset-4
      = f.submit 'Save', class: 'btn btn-primary'
