%h1.page-header Ordenes
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th 
        %th 
        %th 
        %th 
        %th
        %th
        %th
    %tbody
      - @orders.each do |order|
        %tr
          %td= order.id
          %td= order.last_name
          %td= order.email
          %td= order.password
          %td= link_to 'Show', order
          %td= link_to 'Edit', edit_order_path(order)
          %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New User', new_admin_order_path
