- if @payment.errors.any?
  $('#payment_error_explanation').replaceWith("#{ j("<h2>#{pluralize(@payment.errors.count, 'error')} ha impedido guardar eset pago:</h2><ul>#{@payment.errors.full_messages.each{|msg| "<li>#{msg}</li>"};nil }</ul>").html_safe}" );
- else
  $('#payment').collapse('hide');
  $("#payments table tbody").append("#{j("<tr><td>#{number_to_currency(@payment.amount)}</td><td>#{@payment.payment_type}</td></tr>").html_safe}");
  $('.total-payments').text("#{number_to_currency(@payment.order.total_paid)}");
  $('#payment_form').replaceWith("#{escape_javascript(render 'pay_form')}");
