#account.row{ role: 'tabpanel' }
  .col-md-10.col-md-offset-1
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active{role: 'presentation'}
        = link_to '#details', role: 'tab', data: { toggle: 'tab' }, aria: { controls: 'details'} do
          %i.icons-price.pull-left
          Estado de cuenta
      %li{role: 'presentation'}
        = link_to '#hotel', role: 'tab', data: { toggle: 'tab' }, aria: { controls: 'hotel'} do
          %i.icons-hotel.pull-left
          Hotel
    .well.tab-content
      #details.tab-pane.active
        %p#notice= notice
        %p
          %b Nombre:
          = "#{@user.first_name} #{@user.last_name}"
        %p
          %b Correo Electronico:
          = @user.email
        -if @user.order
          %p
            %b Reservacion:
            = @user.order.room.name
            -
            (#{number_to_currency(@user.order.room.price)})
            %br
            = @user.order.days 
            Noches
            %br
            = "#{@user.order.qty - @user.order.kids} Adultos,"
            = "#{@user.order.kids} menor(es)" if @user.order.kids
          %p
            %b Total:
            = number_to_currency(@user.order.total_amount)
          %p
            %b
              Abonado:
            = number_to_currency(@user.order.total_paid)
          %p
            %b Saldo:
            = number_to_currency(@user.order.total_amount - @user.order.total_paid)
      #hotel.tab-pane
        - if @user.order
          %p
            %b Hotel:
            = @user.order.room.hotel.name
          %p
            %b Habitacion:
            = @user.order.room.name
            -
            (#{number_to_currency(@user.order.room.price)})
            %br
            = @user.order.room.description
            %br
            %b Servicios:
            = @user.order.room.services
          %p
            = image_tag @user.order.room.image_url.to_s

  .col-md-1
