%h1.page-header Hoteles
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Nombre
        %th 
        %th 
        %th 
        %th
        %th
        %th
    %tbody
      - @hotels.each do |hotel|
        %tr
          %td= hotel.name
          %td= link_to 'Mostrar', admin_hotel_path(hotel)
          %td= link_to 'Editar', edit_admin_hotel_path(hotel)
          %td= link_to 'Borrar', hotel, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New hotel', new_admin_hotel_path
