.well
  %h1=@hotel.name

  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Nombre
          %th Descripcion
          %th Precio
          %th Capacidad
          %th Vista de la habitacion
          %th Servicios
          %th Hora de entrada
          %th Hora de salida
          %th Acciones
      %tbody
        - @hotel.rooms.each do |room|
          %tr
            %td= link_to room.name, admin_hotel_room_path(hotel_id: @hotel.id, id: room.id)
            %td= room.description
            %td= number_to_currency(room.price)
            %td= room.cap
            %td= room.room_view
            %td= room.services
            %td= room.start_time.strftime('%r') rescue ''
            %td= room.end_time.strftime('%r') rescue ''
            %td
              = link_to edit_admin_hotel_room_path(id: room.id, hotel_id: @hotel.id), title: 'Editar' do
                %span.glyphicon.glyphicon-pencil
              = link_to admin_hotel_room_path(id: room.id, hotel_id: @hotel.id), title: 'Borrar', :method => :delete, :data => { :confirm => 'Estas seguro?' } do
                %span.glyphicon.glyphicon-remove
  %br
  = link_to 'Agregar Habitacion', new_admin_hotel_room_path(hotel_id: @hotel.id)
