#home
  .details
    .row
      .col-lg-4
        = image_tag 'thumb-when.png', class: 'img-circle', width: 200
        %h2.title LA FECHA
        %p Viernes, September 18, 2015
        -#%p= link_to 'View Details &raquo;'.html_safe, '#', class: 'btn btn-default', role: 'button'
      .col-lg-4
        = image_tag 'thumb-where.png', class: 'img-circle', width: 200
        %h2.title EL LUGAR
        %p Nuestra celebracion tendra lugar en Dreams Tulum. 
        %p 
          Carretera Chetumal-Puerto Juárez Km. 236.7, No. 1
          %br Tamkah
          %br 77761 Tulum, QROO.
        -#%p= link_to 'View Details &raquo;'.html_safe, '#', class: 'btn btn-default', role: 'button'
      .col-lg-4
        = image_tag 'thumb-how.png', class: 'img-circle', width: 200
        %h2.title COMO LLEGAR
        %p Volaremos a Cancun, etc...
        -#%p= link_to 'View Details &raquo;'.html_safe, '#', class: 'btn btn-default', role: 'button'
    .clearfix

#proposal
  .row.title
    %h1.romantic-font La Propuesta
  .row
    .col-md-6.col-xs-12
      %h2
        El
      %p
        Todo estaba preparado para celebrar el día de las madres,  era un sábado cualquiera en 10 de mayo, ella no sospecharía nada, pues el motivo para reunir a la familia y tener fotógrafo no causaría sospechas.
      %p
        Ya tenía todo preparado con mi familia, el plan era simple, en una sesión de fotos familiar. Se haría el recorrido en diferentes puntos de del lugar, al llegar a un punto al que llamamos “gazebo”, nos acomodaríamos de manera que ella quedara de espalda a la entrada, pues días antes había dicho a su familia y a nuestros amigos que fueran y estuvieran en la puerta  para entrar en el momento de la propuesta. Mi sobrino Heribertito, saldría a avisarles en el momento que iniciara el pequeño discurso y de paso me llevaría flores para entregar a ella después de la propuesta.  Mis manos sudaban, mi corazón latía muy rápido, pues no sabía cómo iniciar, pues el practicar con mi amigo Esparza no era nada parecido. Una vez hecha la seña a mi sobrino ya no podía echar vuelta atrás, él se fue y yo tendría que iniciar el discurso. Empecé  hablando de lo bonito  que era el estar juntos y agradeciendo a todos por reunirse en ese día tan especial, ahí fue cuando ella empezó a sospechar, pero antes de que lo asimilara me arrodille y sacando el anillo de mi bolsa trasera que oculte todo el tiempo cuidadosamente, le pedí que fuera mi esposa, ella nerviosa y con los ojos llorosos, no sé si de felicidad, miedo o vergüenza,  se quedó congelada, no respondía, pasaron tal vez cinco segundos cuando dijo Sí mientras colocaba el anillo, me levante, la abrase y le dije que mirara hacia atrás, pues su familia y amigos estaban a pocos metros entrando sorpresivamente para ella.
      %p
        Todo esto salió perfecto gracias a la buena voluntad y disposición de nuestros familiares y amigos, posteriormente disfrutamos de una rica comida y pasamos una muy agradable tarde en celebración del compromiso.
    .col-md-6.col-xs-12
      %h2
        Ella
      %p
        Era un sábado cualquiera en el que me alisté para ir a trabajar, triste por no poder estar en Huatabampo celebrando el día de las madres con mi mamá. Todo era normal, el día ya estaba planeado para que cuando saliera de mi trabajo ir al festejo de las madres con la familia de mi novio.
      %p
        Él y yo fuimos los primeros en llegar, había mesas redondas decoradas, unos inflables gigantes para los niños y un fotógrafo, yo no sospechaba, solo pensaba que era un festejo más especial de lo normal. Al paso del tiempo empezaron a llegar los hermanos de Isaac y comenzamos con la sesión de fotos, al final nos reunimos todos juntos en el gazebo y el papá de él empezó a decir unas palabras a su esposa por ser un día especial, después Isaac tomó la palabra y fue cuando mi mente empezó a dar mil vueltas imaginando lo que podría ser, pero calmándome a mí misma por si no era lo que yo pensaba y me estaría emocionando equivocadamente, mi corazón latía a mil por hora y sentía las miradas de todos, todavía no terminaba de hablar Isaac y yo ya tenía los ojos llenos de lágrimas, los nervios me habían invadido, solamente me congelé y capté que mi familia y amigos estaban entrando justo en el momento en que me entregó el anillo, fue algo muy especial verlos a todos y sentir tanto cariño tanto de mi familia como la de él, fue único  simplemente el día que tanto soñé; el saber que iniciaría una nueva etapa en nuestras vidas en donde compartiremos nuevas experiencias, seguiremos creciendo y aprendiendo juntos, el saber que el gran amor que siento por él es tan grande y bello como este maravilloso día que marca el inicio de una vida juntos.

#gallery.clearfix
  #carousel.carousel.slide{ data: { ride: 'carousel' } }
    %ol.carousel-indicators
      - (0...15).each do |i|
        %li{ data: { target: '#carousel', slide: { to: i } } }
    .carousel-inner{ role: 'listbox' }
      - (1..15).each do |i|
        .item{ class: (i==1 ? 'active' : '' ) }
          = image_tag "galeria-#{i}.jpg"
    = link_to '#carousel', class: 'left carousel-control', role: 'button', :'data-slide'=> 'prev', :'aria-hidden' => true do
      %span.glyphicon.glyphicon-chevron-left
        %i.icons-arrow-left
      %span.sr-only Previous
    = link_to '#carousel', class: 'right carousel-control', role: 'button', :'data-slide'=> 'next', :'aria-hidden' => true do
      %span.glyphicon.glyphicon-chevron-right
      %span.sr-only Next


#info
  .row
    %h1.title Informacion
  .row
    .col-md-4
      %i.icons-hotel.pull-right
    .col-md-6
      %h2 Ceremonia
      %p
        Viernes 18 de septiembre de 2015
      %p
        Dreams Tulum.
        %br
        Carretera Chetumal-Puerto Juárez Km. 236.7, No. 1
        %br
        Tamkah
        %br
        77761 Tulum, QROO
        %br
      %h2 Recepcion
      %p
        Viernes 18 de septiembre de 2015
      %p
        Dreams Tulum.
        %br
        Carretera Chetumal-Puerto Juárez Km. 236.7, No. 1
        %br
        Tamkah
        %br
        77761 Tulum, QROO
        %br
    .col-md-2
  .row
    .col-md-4
      %i.icons-location.pull-right
    .col-md-6
      #map-canvas
      %br
      #map-directions
        %iframe{ src: "https://www.google.com/maps/embed/v1/directions?origin=Aeropuerto%20Internacional%20de%20Canc%C3%BAn%2C%20Canc%C3%BAn%2C%20M%C3%A9xico&destination=Dreams%20Tulum.%20%20Carretera%20Chetumal-Puerto%20Ju%C3%A1rez%20Km.%20236.7%2C%20No.%201%20%20Tamkah%20%2077761%20Tulum%2C%20QROO%20&key=AIzaSyAf1nxH1TSHw4fKFiXVMNHYU0XOW3KaS-I", width: 600, height: "450", frameborder: 0, style: { border:0 } }
    .col-md-2
  .row
    .col-md-4
      %i.icons-rest.pull-right
    .col-md-6
      %h2.title Cocina Gourmet
      %p El hotel cuenta con una amplia variedad de restaurantes de especialidad internacional.
      %ul
        %li
          %h4 
            BORDEAUX
            %small - French Cuisine
        %li
          %h4 
            EL PATIO
            %small - Mexican Cuisine
        %li
          %h4 
            GOHAN RESTAURANT
            %small - Sushi and Japanese Delicacies
        %li
          %h4 
            HIMITSU
            %small - Asian Cuisine
        %li
          %h4 
            PORTOFINO RESTAURANT
            %small - Italian & Mediterranean Cuisine
        %li
          %h4 
            SEASIDE GRILL
            %small - Seafood Favorites
        %li
          %h4 
            WORLD CAFÉ
            %small - International Buffet
        %li
          %h4 
            BAREFOOT GRILL
            %small - Delicious Grilled Favorites
        %li
          %h4 
            COCO CAFÉ
            %small - Premium Coffee & Snacks
      %p
        Para mayor informacion acerca de horarios y codigos de vestimenta consulta #{link_to 'http://www.dreamsresorts.com/tulum/gourmet-dining', 'http://www.dreamsresorts.com/tulum/gourmet-dining'}
    .col-md-2
  .row
    .col-md-4
      %i.icons-bar.pull-right
    .col-md-6
    .col-md-2
  .row
    .col-md-4
      %i.icons-dress-code.pull-right
    .col-md-6
      %h2 Codigo de vestimenta
      %p No colores oscuros
      %h4 Mujer:
      %p Vestido largo, colores claros
      %p 
        %b 
          Calzado: 
        sandalias/flats o plataformas (no tacon de aguja)
      %h4 Hombre:
      %p Guayabera, pantalon claro (beige/ khaki)
      %p 
        %b 
          Calzado: 
        sandalias o mocasines
      %p
        = link_to 'Ejemplos de vestimenta', '#dress-code', data: { toggle: 'modal' }
    .col-md-2
  .row
    .col-md-4
      %i.icons-salon.pull-right
    .col-md-6
      %h2 Informacion sobre salones de belleza
    .col-md-2
  .row
    .col-md-4
      %i.icons-how.pull-right
    .col-md-6
      %h2 Vuelos-Aerolineas
      %div
        %h4 Vía Hermosillo – Cancún redondo
        %br
        Aeromexico $ 5,520.00 ya publicado
        %br
        Volaris $ 4,320.00 próximamente 
        %br
        Interjet $ 6,766.00 próximamente
        %br
        %h4 Vía obregón – Cancún redondo
        %br
        Aeromexico $ 5,923.00 ya publicado
        %br
        %h4 Vía Mazatlán – Cancún redondo
        %br
        Aeromexico $ 5,507.00 ya publicado
        %br
        Volaris $ No definido aún. Próximamente 
        %br
        %h4 Vía Guadalajara – Cancún redondo
        %br
        Aeromexico $ 3,788 ya publicado
        %br
        Volaris $ 3,399.00 próximamente 
        %br
        Interjet $ 3,298 próximamente
        %br
        %h4 Vía Mexicali – Cancún 
        %br
        Aeromexico $ 5,758 ya publicado
        %br
        Volaris $ 5,615.00 próximamente 
        %br
        %h4 Vía Portland Oregón – Cancún
        %br
        United Airlines 495.21 USD 
        %br
    .col-md-2



.modal.fade#dress-code{ tabindex: "-1", role: "dialog", :'aria-labelledby' => "dress-code-label", :'aria-hidden' => true }
  .modal-dialog
    .modal-content
      .modal-header
        = button_tag class: "close", data: { dismiss: "modal" }, aria: { label: "Close" } do
          %span{ aria: { hidden: true } }
            &times;
        %h4.modal-title#dress-code-label Codigo de vestimenta
      .modal-body
        = image_tag 'dress-code.jpg'
      