#info
  .row
    .col-md-4
      %h2 FECHA/HORA/LUGAR
    .col-md-6
      %h2 Ceremonia
      %p
        Viernes 18 de septiembre de 2015
      %p
        Dreams Tulum.
        %br
        Carretera Chetumal-Puerto Juárez Km. 236.7, No. 1
        %br
        Tamkah
        %br
        77761 Tulum, QROO
        %br
      %h2 Recepcion
      %p
        Viernes 18 de septiembre de 2015
      %p
        Dreams Tulum.
        %br
        Carretera Chetumal-Puerto Juárez Km. 236.7, No. 1
        %br
        Tamkah
        %br
        77761 Tulum, QROO
        %br
    .col-md-2
  .row
    .col-md-4
      %h2 COMO LLEGAR
    .col-md-6
      %h2 Vuelos-Aerolineas
      %div
        %h4 Vía Hermosillo – Cancún redondo
        %br
        Aeromexico $ 5,520.00 ya publicado
        %br
        Volaris $ 4,320.00 próximamente 
        %br
        Interjet $ 6,766.00 próximamente
        %br
        %h4 Vía obregón – Cancún redondo
        %br
        Aeromexico $ 5,923.00 ya publicado
        %br
        %h4 Vía Mazatlán – Cancún redondo
        %br
        Aeromexico $ 5,507.00 ya publicado
        %br
        Volaris $ No definido aún. Próximamente 
        %br
        %h4 Vía Guadalajara – Cancún redondo
        %br
        Aeromexico $ 3,788 ya publicado
        %br
        Volaris $ 3,399.00 próximamente 
        %br
        Interjet $ 3,298 próximamente
        %br
        %h4 Vía Mexicali – Cancún 
        %br
        Aeromexico $ 5,758 ya publicado
        %br
        Volaris $ 5,615.00 próximamente 
        %br
        %h4 Vía Portland Oregón – Cancún
        %br
        United Airlines 495.21 USD 
        %br
    .col-md-2
  .row
    .col-md-4
      %h2 Donde Comer
    .col-md-6
      %h2 Restaurants en Dreams Tulum
      .restaurant
        %h3 
          BORDEAUX
          %small - French Cuisine
        %p
          Hours:
          %br
          Dinner: 6 p.m. – 10:30 p.m.
        %p
          Dress code:
          %br
          Formal
          %br
          For men: long pants, collared shirts and dress shoes.For women: blouses, skirts, slacks or dresses, with dress shoes.
        %p
          Note: Adults only, non-smoking
      .restaurant
        %h3 
          EL PATIO
          %small - Mexican Cuisine
        %p
          Hours:
          %br
          Lunch: 11 a.m. – 5 p.m.
          %br
          Dinner: 6:30 p.m. – 10:30 p.m.
        %p
          Dress code:
          %br
          Casual
          %br
          Bermudas (long shorts or Capri pants), sneakers/tennis shoes and sandals are required. Ladies must wear a bathing suit wrap or cover-up. No sleeveless shirts for men.
      .restaurant
        %h3 
          GOHAN RESTAURANT
          %small - Sushi and Japanese Delicacies
        %p
          Hours:
          %br
          Dinner: 6:00 p.m. – 10:30 p.m.
        %p
          Dress code:
          %br
          Casual Elegance
          %br
          Sneakers/tennis shoes or sandals and dress shirts with short sleeves or shirts are required. Long pants are required for men. No sleeveless shirts or flip-flops allowed.
          %br
          Note: Non-smoking
      .restaurant
        %h3 
          HIMITSU
          %small - Asian Cuisine
        %p
          Hours:
          %br
          Dinner: 6 p.m. – 10:30 p.m.
        %p
          Dress code:
          %br
          Casual Elegance
          %br
          Sneakers/tennis shoes or sandals and dress shirts with short sleeves or shirts are required. Long pants are required for men. No sleeveless shirts or flip-flops allowed.
      .restaurant
        %h3 
          PORTOFINO RESTAURANT
          %small - Italian & Mediterranean Cuisine
        %p
          Hours:
          %br
          Dinner: 6 p.m. – 10:30 p.m.
        %p
          Dress code:
          %br
          Formal
          %br
          Long pants, collar shirts and dress shoes are required for men. Women must wear blouses, skirts, slacks or dresses with dress shoes.
      .restaurant
        %h3 
          SEASIDE GRILL
          %small - Seafood Favorites
        %p
          Hours:
          %br
          Breakfast: 8 a.m. – 11 a.m. (seasonal)
          %br
          Lunch: 12 p.m. – 5 p.m.
          %br
          Dinner: 6:30 p.m. – 10:30 p.m.
        %p
          Dress code:
          %br
          Casual
          %br
          Bermudas (long shorts or Capri pants), sneakers/tennis shoes and sandals are required. Ladies must wear a bathing suit wrap or cover-up. No sleeveless shirts for men.
      .restaurant
        %h3 
          WORLD CAFÉ
          %small - International Buffet
        %p
          Hours:
          %br
          Breakfast: 6:30 a.m. – 11 a.m.
          %br
          Lunch: 12:30 p.m. – 3 p.m.
          %br
          Dinner: 6:30 p.m. – 10:30 p.m.
        %p
          Dress code:
          %br
          Casual
          %br
          Bermudas (long shorts or Capri pants), sneakers/tennis shoes and sandals are required. Ladies must wear a bathing suit wrap or cover-up. No sleeveless shirts for men.
      .restaurant
        %h3 
          BAREFOOT GRILL
          %small - Delicious Grilled Favorites
        %p
          Hours:
          %br
          Lunch: 11 a.m. – 5 p.m.
        %p
          Dress code:
          %br
          Casual
          %br
          Bermudas (long shorts or Capri pants), sneakers/tennis shoes and sandals are required. Ladies must wear a bathing suit wrap or cover-up. No sleeveless shirts for men.
      .restaurant
        %h3 
          COCO CAFÉ
          %small - Premium Coffee & Snacks
        %p
          Hours:
          %br
          7 a.m. – 11 p.m.
        %p
          Dress code:
          %br
          Casual
          %br
          Bermudas (long shorts or Capri pants), sneakers/tennis shoes and sandals are required. Ladies must wear a bathing suit wrap or cover-up. No sleeveless shirts for men.
        %p
          Note: Non-smoking
    .col-md-2
