.proposal
  .row.title
    .dark-background
    %h1.romantic-font La Propuesta
  .row.proposal-image
    = image_tag 'proposal.jpg', class: 'img-polaroid'
  .row
    .col-md-6.col-xs-12
      %h2
        El
      %p
        Todo estaba preparado para celebrar el día de las madres,  era un sábado cualquiera en 10 de mayo, ella no sospecharía nada, pues el motivo para reunir a la familia y tener fotógrafo no causaría sospechas.
      %p
        Ya tenía todo preparado con mi familia, el plan era simple, en una sesión de fotos familiar. Se haría el recorrido en diferentes puntos de del lugar, al llegar a un punto al que llamamos “gazebo”, nos acomodaríamos de manera que ella quedara de espalda a la entrada, pues días antes había dicho a su familia y a nuestros amigos que fueran y estuvieran en la puerta  para entrar en el momento de la propuesta. Mi sobrino Heribertito, saldría a avisarles en el momento que iniciara el pequeño discurso y de paso me llevaría flores para entregar a ella después de la propuesta.  Mis manos sudaban, mi corazón latía muy rápido, pues no sabía cómo iniciar, pues el practicar con mi amigo Esparza no era nada parecido. Una vez hecha la seña a mi sobrino ya no podía echar vuelta atrás, él se fue y yo tendría que iniciar el discurso. Empecé  hablando de lo bonito  que era el estar juntos y agradeciendo a todos por reunirse en ese día tan especial, ahí fue cuando ella empezó a sospechar, pero antes de que lo asimilara me arrodille y sacando el anillo de mi bolsa trasera que oculte todo el tiempo cuidadosamente, le pedí que fuera mi esposa, ella nerviosa y con los ojos llorosos, no sé si de felicidad, miedo o vergüenza,  se quedó congelada, no respondía, pasaron tal vez cinco segundos cuando dijo Sí mientras colocaba el anillo, me levante, la abrase y le dije que mirara hacia atrás, pues su familia y amigos estaban a pocos metros entrando sorpresivamente para ella.
      %p
        Todo esto salió perfecto gracias a la buena voluntad y disposición de nuestros familiares y amigos, posteriormente disfrutamos de una rica comida y pasamos una muy agradable tarde en celebración del compromiso.
    .col-md-6.col-xs-12
      %h2
        Ella
      %p
        Era un sábado cualquiera en el que me alisté para ir a trabajar, triste por no poder estar en Huatabampo celebrando el día de las madres con mi mamá. Todo era normal, el día ya estaba planeado para que cuando saliera de mi trabajo ir al festejo de las madres con la familia de mi novio.
      %p
        Él y yo fuimos los primeros en llegar, había mesas redondas decoradas, unos inflables gigantes para los niños y un fotógrafo, yo no sospechaba, solo pensaba que era un festejo más especial de lo normal. Al paso del tiempo empezaron a llegar los hermanos de Isaac y comenzamos con la sesión de fotos, al final nos reunimos todos juntos en el gazebo y el papá de él empezó a decir unas palabras a su esposa por ser un día especial, después Isaac tomó la palabra y fue cuando mi mente empezó a dar mil vueltas imaginando lo que podría ser, pero calmándome a mí misma por si no era lo que yo pensaba y me estaría emocionando equivocadamente, mi corazón latía a mil por hora y sentía las miradas de todos, todavía no terminaba de hablar Isaac y yo ya tenía los ojos llenos de lágrimas, los nervios me habían invadido, solamente me congelé y capté que mi familia y amigos estaban entrando justo en el momento en que me entregó el anillo, fue algo muy especial verlos a todos y sentir tanto cariño tanto de mi familia como la de él, fue único  simplemente el día que tanto soñé; el saber que iniciaría una nueva etapa en nuestras vidas en donde compartiremos nuevas experiencias, seguiremos creciendo y aprendiendo juntos, el saber que el gran amor que siento por él es tan grande y bello como este maravilloso día que marca el inicio de una vida juntos.
