.col-sm-3
.col-sm-6
  = form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin', role: 'form' } do |f|
    %h2.form-signin-heading Log in
    = f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control', autocomplete: 'off', required: true
    = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control', required: true

    - if devise_mapping.rememberable?
      .checkbox
        = f.check_box :remember_me
        = f.label :remember_me

    %div
      = f.submit "Log in", class: 'btn btn-lg btn-primary btn-block'
.col-sm-3