.col-xs-12.col-sm-6.col-md-4.col-lg-3
  .photo-box
    .image-wrap
      = image_tag insta_photo.images[:standard_resolution][:url]
      .likes
        = insta_photo.likes[:count]
    .description
      = insta_photo.caption.text
      .date
