.row-fluid
  .col-xs-12
    .instagram-content
      %h3 Liliana & Isaac. Boda en la playa
      .row.photos-wrap
        - @photos.each do |photo|
          = render partial: 'insta_photo', locals: { insta_photo: photo }
      .next-page
        = link_to 'Mas fotos', "photos/tags/?next_max_tag_id=#{@next_max_tag_id}" if @next_max_tag_id
