.row
  #gallery.carousel.slide{ data: { ride: 'carousel' } }
    %ol.carousel-indicators
      %li{ data: { target: '#gallery', slide: { to: 0 } } }
      %li{ data: { target: '#gallery', slide: { to: 1 } } }
    .carousel-inner{ role: 'listbox' }
      .item.active
        = image_tag "carousel-1.jpg"
      .item
        = image_tag "http://placehold.it/500x300/E8117F/FFFFFF"
    = link_to '#gallery', class: 'left carousel-control', role: 'button', :'data-slide'=> 'prev', :'aria-hidden' => true do
      %span.glyphicon.glyphicon-chevron-left
      %span.sr-only Previous
    = link_to '#gallery', class: 'right carousel-control', role: 'button', :'data-slide'=> 'next', :'aria-hidden' => true do
      %span.glyphicon.glyphicon-chevron-right
      %span.sr-only Next
