.navbar-inverse {
  background-color: #f81565;
  //background-color: #FF007E;
  border-color: #f81565;
  opacity: 0.4;
  box-shadow: 0px 2px 8px 2px #E1E2E2;
  .navbar-brand, .navbar-nav li a{
    color: whitesmoke;
    font-weight: bold;
    &:hover{
      color: whitesmoke;
    }
  }
}
