$icons-sprite: sprite-map('icons/*.png', $sort-by: height, $layout: vertical) !default;

i[class^=icons] {
  background-size: 100%;
  background-image: sprite-url($icons-sprite);
}
@each $sprite in sprite-names($icons-sprite) {
  .icons-#{$sprite} {
    $values: sprite-position($icons-sprite, $sprite, 0, 0);
    background-position: nth($values, 1) #{nth($values, 2)}
  }
}

@font-face {
  font-family: 'Sverige';
  src: asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.eot');
  src: asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.eot?#iefix') format('embedded-opentype'),
       asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.woff2') format('woff2'),
       asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.woff') format('woff'),
       asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.ttf') format('truetype'),
       asset_url('SverigeScript/sverigescriptdecorated_demo-webfont.svg#sverige_script_decorated_deRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

h1 {
  text-align:center;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #656563;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

i {
  &.icons-hotel {
    background-position: center -102px;
  }
  &.icons-how {
    background-position: center -812px;
  }
  &.icons-rest {
    background-position: center -305px;
  }
  &.icons-date {
    background-position: center -711px;
  }
  &.icons-location {
    background-position: center -509px;
  }
  &.icons-dress-code {
    background-position: center -406px;
  }
  &.icons-price {
    background-position: center -609px;
  }
  &.icons-salon {
    background-position: center 0px;
  }
  &.icons-bar {
    background-position: center -203px;
  }
}


/*
 * Base structure
 */

html {
  position: relative;
  min-height: 100%;
}

html,
body {
  background-color: #fef7e7;
  color: #656563;
  //-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  //box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

body.static, body.users{
  .alert, .notice {
    position: absolute;
  }
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Petit Formal Script', cursive;
}

.romantic-font{
  font-family: 'Sverige', 'Petit Formal Script', 'Trebuchet MS', cursive;
  color: #f81565;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.inner.cover{
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

#main-content.container-fluid {
  padding: 0;
  background-color: #fef7e7;
  a, .title {
    color: #f11b3f;
  }
  >div {
    padding-top:50px;
  }
  .modal-dialog {
    width: 430px;
  }
  .row {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  #home {
    background-image: image-url('img-inicio.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fef7e7;
    padding-top: 60%;
    padding-bottom: 40px;
  }
  #gallery {
    background-color: #fef7e7;
  }
  #info {
    background-image: image-url('img-info.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f4eddd;
    margin-bottom: 30px;
    i {
      width: 100px;
      height: 101px;
      display: block;
      background-size: 100%;
      &.icons-hotel {
        
      }
    }
    #map-canvas {
      width: 600px;
      height: 450px;
      background-color: #ccc;
    }
    .row {
      div[class^=col-md] {
        //border-bottom: 1px solid #e1e2e2;
        padding: 20px 10px;
        h2 {
          margin: 0;
        }
      }
    }
  }
  #account {
    margin-top: 20px;
    .nav-tabs {
      li a {
        line-height: 24px;
      }
      i {
        width: 24px;
        height: 25px;
        margin-right: 4px;
        &.icons-hotel {
          background-position: center -504px;
        }
        &.icons-price {
          background-position: center -626px;
        }
      }
    }
  }
}

/*
 * Carousel
 */

.carousel {
  height: 600px;
  .carousel-inner {
    height: 600px;
  }
  i {
    width: 23px;
    height: 55px;
    display: block;
    background-size: initial;
  }
  .item {
    height: 600px;
    background-color: #777;
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      
    }
    .carousel-caption {
      z-index: 10;
    }
  }
}


.details {
  text-align: center;
}

#countdown {
  font-size: 18px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  .countdown-item {
    color: #C1C2C2;
    .number {
      color: #F1F1F2;
      font-size: 20px;
    }
  }
}

.proposal, #proposal {
  position: relative;
  background-image: image-url('img-propuesta.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fef7e7;
  padding-top: 10px;
  padding-bottom: 40px;
  .row {
    margin: 0;
  }
  .title {
    margin-bottom: 30%;
    h1 {
      line-height: 60px;
      padding: 0 10px;
      font-size: 40px;
      font-weight: 900;
      margin: 0;
    }
  }
  p, h2 {
    text-align: justify;
    font-family: 'PT Serif', Georgia, Times, Serif;
    color: #656563;
  }
}

/*
 * Footer
 */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  //height: 448px;
  //background-color: #f5f5f5;
  //background: image-url('footer.png') center center no-repeat;
  p {
    line-height: 40px;
    margin: 0;
  }
}

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Instagram Photos
 */

$main-font: 'Lato', sans-serif;
$sub-font: 'Montserrat', sans-serif;
$fancy-font: 'Kaushan Script', cursive;
$font-size: 16px;
 
$black: #000;
$white: #FFF;
$grey: #585c65;
$mediumgrey: #9b9b9b;
$lightgrey: #eeeeee;
$blue: #3466a1;
 
$padding: 10px;
$margin: 10px;
 
/*
* Override Bootstrap variables - Sobreescribiendo variables de Bootstrap
*/
$font-family-sans-serif: $main-font;

.instagram-wrap {
  background: $lightgrey;
}
 
.instagram-content {
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: $padding*5 0;
    color: darken($lightgrey, 20%);
  }

}

.photo-box {
  margin: 0 0 $margin*3 0;
  .image-wrap {
    position: relative;
    img {
        width: 100%;
    }

    .likes {
        position: absolute;
        bottom: 5px;
        left: 15px;
        padding: $padding/2;
        background: $black;
        background: rgba($black, 0.4);
        color: $white;
    }
  }
  .description {
    font-family: $sub-font;
    font-size: 12px;
    background: $white;
    color: $mediumgrey;
    letter-spacing: 1px;
    padding: $padding*1.5;
    height: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}



/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
