= form_for @user, url: (@user.persisted? ? admin_user_path(@user) : admin_users_path), html: { class: 'form-horizontal', role: 'form' } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :first_name, 'Nombre', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :first_name, placeholder: 'Nombre', class: 'form-control'
  .form-group
    = f.label :last_name, 'Apellido', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :last_name, placeholder: 'Apellido', class: 'form-control'
  .form-group
    = f.label :control_id, 'Numero de control', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :control_id, placeholder: 'Numero de control', class: 'form-control'
  .form-group
    = f.label :email, 'Correo Electronico', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.email_field :email, placeholder: 'E-mail', class: 'form-control'
  - if !@user.persisted?
    .form-group
      = f.label :password, 'Contrasena', class: 'col-sm-2 control-label'
      .col-sm-10
        = f.password_field :password, placeholder: 'Contrasena', class: 'form-control'
  .form-group
    .col-sm-10.col-sm-offset-2
      = f.submit 'Save', class: 'btn btn-primary'
