%h1.page-header Usuarios
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Numero de control
        %th Nombre
        %th Email
        %th Habitacion
        %th Total
        %th Pagado
        %th Acciones
    %tbody
      - @users.each do |user|
        %tr
          %td= user.control_id
          %td= link_to user.full_name, admin_user_path(user)
          %td= user.email
          - if user.order
            %td= user.order.room.name
            %td= number_to_currency(user.order.total_amount)
            %td= number_to_currency(user.order.total_paid)
          - else
            %td
            %td
            %td
          %td
            = link_to admin_user_path(user), title: 'Mostrar usuario' do
              %span.glyphicon.glyphicon-user
            = link_to edit_admin_user_path(user), title: 'Editar' do
              %span.glyphicon.glyphicon-pencil
            = link_to admin_user_path(user), title: 'Borrar', :method => :delete, :data => { :confirm => 'Estas seguro?' } do
              %span.glyphicon.glyphicon-remove

  %br

  = link_to 'Agregar Usuario', new_admin_user_path
