%h2
  = @user.full_name
  %small= @user.email

.well
  %div
    - if order = @user.order
      %p
        %b Habitacion
        %br
        = order.room.name
        -
        (#{order.room.price})
        %br
        = "#{order.qty} personas"
        = "#{order.kids} menor(es)" if order.kids
      %p
        %b Cuenta:
        %br
        = "Total: #{number_to_currency(order.total_amount)}"
        %br
        = "Descuento aplicado: #{number_to_currency(order.discount_total)}"
        %br
        Pagado: 
        %span.total-payments= number_to_currency(order.total_paid)
        %br
        = "Saldo: #{number_to_currency(order.total_amount - order.total_paid)}"
      = link_to 'Editar orden', edit_admin_order_path(@user.order)
      %br
      %br
      .centered
        %b Pagos
        #payments.table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Monto
                %th Tipo de pago
                %th
            %tbody
              - order.payments.each do |payment|
                %tr
                  %td= number_to_currency(payment.amount)
                  %td= payment.payment_type
                  %td
                    = link_to admin_order_destroy_path(order_id: order.id, id: payment.id), title: 'Borrar Pago', :method => :delete, :data => { :confirm => 'Estas seguro?' } do
                      %span.glyphicon.glyphicon-remove
          %p
            %b Total: 
            %span.total-payments
              #{number_to_currency(order.total_paid, unit: 'MX $')}

        = link_to 'Abonar', '#payment', data: { toggle: 'collapse' }
        .row.collapse#payment
          .col-sm-6
            = render 'admin/orders/pay_form'
    - else
      = link_to 'Agregar orden', new_admin_order_path(user_id: @user.id)
