!!!html
%html
  %head
    %title Wedding
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ data: { toggle: 'collapse', target: '#navbar' }, aria: { expanded: 'false', controls: 'navbar' } }
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Isaac & Liliana', '#', class: 'navbar-brand'
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Users', admin_users_path
            %li
              = link_to 'Gallery', galleries_path
            %li
              = link_to 'Info', '#'
            %li
              = link_to 'Ordenes', admin_orders_path
            - if user_signed_in?
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)
            - else
              %li
                = link_to('Login', new_user_session_path)
    .container-fluid
      .col-sm-3.col-md-2.sidebar
        %ul.nav.nav-sidebar
          %li
            = link_to 'Usuarios', admin_users_path
          %li
            = link_to 'Ordenes', admin_orders_path
          %li
            = link_to 'Dreams Tulum', admin_hotel_path(1)
          %li
            = link_to 'Fotos', admin_galleries_path
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        %p.notice
          = notice
        %p.alert
          = alert
        .container-fluid
          = yield
