!!!html
%html
  %head
    %title Boda - Liliana & Isaac
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body{ class: controller_name }
    - if controller_name != 'photos'
      %nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{ data: { toggle: 'collapse', target: '#navbar' }, aria: { expanded: 'false', controls: 'navbar' } }
              %span.sr-only Toggle Navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #navbar.collapse.navbar-collapse
            %ul#nav.nav.navbar-nav
              - if controller_name == 'static'
                %li
                  = link_to 'La Propuesta', '#proposal'
                %li
                  = link_to 'Fotos', '#gallery'
                %li
                  = link_to 'Informacion', '#info'
              - else
                %li
                  = link_to 'Inicio', root_path
              - if user_signed_in?
                - if current_user.admin?
                  %li
                    = link_to 'Admin', admin_users_path
                -# else
                %li
                  = link_to 'Mi Cuenta', my_account_path
                %li
                  = link_to('Logout', destroy_user_session_path, :method => :delete)
              - else
                %li
                  = link_to('Login', new_user_session_path)
    %p.notice
      = notice
    %p.alert
      = alert
    #main-content.container-fluid
      = yield
    %footer.footer
      .container
        %p.text-muted
          Isaac & Liliana - 18.09.15
    = yield :javascript
