!!!html
%html
  %head
    %title Wedding
    = stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{ href: 'http://fonts.googleapis.com/css?family=Petit+Formal+Script:400,700', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Slabo+27px', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,800,700', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Lato:400,700,900', rel: 'stylesheet', type: 'text/css' }
    = csrf_meta_tags
  %body.homepage
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              %h3.masthead-brand 
              %ul.nav.masthead-nav
                %li
                  = link_to('Login', new_user_session_path)
          .inner.cover
            = yield
          .mastfoot
            .inner
              %p
                #countdown
